################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/ITLH/.vs/ITLH
/ITLH/boost_1_86_0/boost_1_86_0
/ITLH/ITLH-Server/x64
/ITLH/x64
/ITLH/exiv2-0.28.3-2019msvc64/exiv2-0.28.3-2019msvc64
